## ETL Banxico

In [2]:
import os
import requests
import pandas as pd
from dotenv import load_dotenv
from datetime import datetime
from dateutil.relativedelta import relativedelta
import boto3
import json

In [3]:
# üìå Cargar variables de entorno
load_dotenv()

# üìå Obtener los tokens desde .env
BANXICO_TOKEN = os.getenv("BANXICO_TOKEN")
AWS_ACCESS_KEY = os.getenv("AWS_ACCESS_KEY")
AWS_SECRET_KEY = os.getenv("AWS_SECRET_KEY")
S3_BUCKET_NAME = os.getenv("S3_BUCKET_NAME")

if not BANXICO_TOKEN:
    raise ValueError("‚ùå Error: BANXICO_TOKEN no encontrado en .env")

print("‚úÖ Token de Banxico cargado correctamente.")

# üìå Configurar fechas desde 2020 hasta hoy
initial_date = "2020-01-01"
final_date = datetime.today().strftime("%Y-%m-%d")

# üìå Configurar cliente de Amazon S3
s3_client = boto3.client(
    "s3",
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_KEY,
)

‚úÖ Token de Banxico cargado correctamente.

In [4]:
def extract_banxico_data(serie_id, initial_date, final_date):
    """
    Extrae datos de la API de Banxico y los devuelve en un DataFrame.
    """
    url = f"https://www.banxico.org.mx/SieAPIRest/service/v1/series/{serie_id}/datos/{initial_date}/{final_date}?token={BANXICO_TOKEN}"
    response = requests.get(url)

    if response.status_code != 200:
        print(f"‚ùå Error {response.status_code}: {response.text}")
        return None

    data = response.json()
    
    if "bmx" not in data or "series" not in data["bmx"] or not data["bmx"]["series"]:
        print("‚ö†Ô∏è No se encontraron datos en la respuesta de Banxico.")
        return None

    series_data = data["bmx"]["series"][0]["datos"]

    if not series_data:
        print("‚ö†Ô∏è No hay datos disponibles en este rango de fechas.")
        return None

    # üìå Convertir datos a DataFrame
    df = pd.DataFrame(series_data)
    df.columns = ["timestamp", "value"]

    # üìå Convertir fechas correctamente
    df["timestamp"] = pd.to_datetime(df["timestamp"], format="%d/%m/%Y", dayfirst=True)

    # üìå Convertir valores a num√©rico
    df["value"] = pd.to_numeric(df["value"], errors="coerce")

    return df

In [5]:
# üìå Extraer Tipo de Cambio
df_tipo_cambio = extract_banxico_data("SF43718", initial_date, final_date)
df_tipo_cambio.to_csv("tipo_de_cambio.csv", index=False)

# üìå Extraer Tasa de Inter√©s
df_tasa_interes = extract_banxico_data("SF282", initial_date, final_date)
df_tasa_interes.to_csv("tasa_de_interes.csv", index=False)

# üìå Extraer INPC desde Banxico
df_inpc = extract_banxico_data("SP1", initial_date, final_date)
df_inpc.to_csv("inpc.csv", index=False)

print("‚úÖ Datos guardados localmente en CSV.")

‚úÖ Datos guardados localmente en CSV.

In [6]:
# Toma"default"
s3_client = boto3.client("s3")

# Probar conexi√≥n
response = s3_client.list_buckets()
for bucket in response["Buckets"]:
    print(f"‚úÖ Bucket encontrado: {bucket['Name']}")
# üìå Probar conexi√≥n
try:
    response = s3_client.list_objects_v2(Bucket="banxico-hw", Prefix="raw/")
    for obj in response.get("Contents", []):
        print(f"üìÇ Archivo en S3: {obj['Key']} - Tama√±o: {obj['Size']} bytes")
except Exception as e:
    print(f"‚ùå Error al conectar con S3: {e}")

‚úÖ Bucket encontrado: arquitectura-athena-queries-sofia
‚úÖ Bucket encontrado: banxico-hw
‚úÖ Bucket encontrado: itam-analytics-sofia
‚úÖ Bucket encontrado: sofia-temp-flights
üìÇ Archivo en S3: raw/ - Tama√±o: 0 bytes
üìÇ Archivo en S3: raw/inpc.csv - Tama√±o: 1190 bytes
üìÇ Archivo en S3: raw/tasa_de_interes.csv - Tama√±o: 1029 bytes
üìÇ Archivo en S3: raw/tipo_de_cambio.csv - Tama√±o: 24694 bytes

In [7]:
def upload_to_s3(file_name, bucket, folder):
    """
    Sube un archivo local a Amazon S3 en la carpeta especificada.
    """
    object_name = f"{folder}/{file_name}"
    try:
        s3_client.upload_file(file_name, bucket, object_name)
        print(f"‚úÖ Archivo {file_name} subido a S3 en {object_name}")
    except Exception as e:
        print(f"‚ùå Error al subir {file_name}: {e}")

# üìå Subir los archivos a S3
upload_to_s3("tipo_de_cambio.csv", "banxico-hw", "raw")
upload_to_s3("tasa_de_interes.csv", "banxico-hw", "raw")
upload_to_s3("inpc.csv", "banxico-hw", "raw")

print("‚úÖ Todos los archivos han sido subidos a S3 en la carpeta 'raw/'.")

‚úÖ Archivo tipo_de_cambio.csv subido a S3 en raw/tipo_de_cambio.csv
‚úÖ Archivo tasa_de_interes.csv subido a S3 en raw/tasa_de_interes.csv
‚úÖ Archivo inpc.csv subido a S3 en raw/inpc.csv
‚úÖ Todos los archivos han sido subidos a S3 en la carpeta 'raw/'.

---

### Transforming and cleaning raw data

In [8]:
# üìå Usar rutas relativas desde donde est√° el script
file_paths = {
    "tipo_de_cambio": "tipo_de_cambio.csv",
    "tasa_de_interes": "tasa_de_interes.csv",
    "inpc": "inpc.csv"
}

# üìå Leer los archivos correctamente
df_tipo_cambio = pd.read_csv(file_paths["tipo_de_cambio"], parse_dates=["timestamp"])
df_tasa_interes = pd.read_csv(file_paths["tasa_de_interes"], parse_dates=["timestamp"])
df_inpc = pd.read_csv(file_paths["inpc"], parse_dates=["timestamp"])

# üìå Renombrar columnas para mantener coherencia
df_tipo_cambio.rename(columns={"timestamp": "date", "value": "tipo_de_cambio"}, inplace=True)
df_tasa_interes.rename(columns={"timestamp": "date", "value": "tasa_de_interes"}, inplace=True)
df_inpc.rename(columns={"timestamp": "date", "value": "inpc"}, inplace=True)

print("‚úÖ Archivos cargados correctamente")

‚úÖ Archivos cargados correctamente

In [9]:
# print head de los dataframes
print(df_tipo_cambio.head())
print(df_tasa_interes.head())
print(df_inpc.head())

        date  tipo_de_cambio
0 2020-01-02         18.8817
1 2020-01-03         18.8673
2 2020-01-06         18.8270
3 2020-01-07         18.8852
4 2020-01-08         18.7980
        date  tasa_de_interes
0 2020-01-01             7.12
1 2020-02-01             6.96
2 2020-03-01             6.81
3 2020-04-01             6.09
4 2020-05-01             5.47
        date     inpc
0 2020-01-01  106.447
1 2020-02-01  106.889
2 2020-03-01  106.838
3 2020-04-01  105.755
4 2020-05-01  106.162

In [10]:
# üìå Crear la columna con el INPC rezagado 12 meses
df_inpc["inpc_lag_12"] = df_inpc["inpc"].shift(12)

# üìå Calcular la inflaci√≥n anualizada en porcentaje
df_inpc["inflacion"] = 100 * (df_inpc["inpc"] / df_inpc["inpc_lag_12"] - 1)

# üìå Eliminar filas con valores NaN (primeros 12 meses no tienen inpc_lag_12)
df_inpc = df_inpc.dropna()

print("‚úÖ Inflaci√≥n anualizada calculada correctamente")

‚úÖ Inflaci√≥n anualizada calculada correctamente

In [11]:
df_inpc

         date     inpc  inpc_lag_12  inflacion
12 2021-01-01  110.210      106.447   3.535093
13 2021-02-01  110.907      106.889   3.759040
14 2021-03-01  111.824      106.838   4.666879
15 2021-04-01  112.190      105.755   6.084819
16 2021-05-01  112.419      106.162   5.893823
17 2021-06-01  113.018      106.743   5.878606
18 2021-07-01  113.682      107.444   5.805815
19 2021-08-01  113.899      107.867   5.592072
20 2021-09-01  114.601      108.114   6.000148
21 2021-10-01  115.561      108.774   6.239543
22 2021-11-01  116.884      108.856   7.374881
23 2021-12-01  117.308      109.271   7.355108
24 2022-01-01  118.002      110.210   7.070139
25 2022-02-01  118.981      110.907   7.279973
26 2022-03-01  120.159      111.824   7.453677
27 2022-04-01  120.809      112.190   7.682503
28 2022-05-01  121.022      112.419   7.652621
29 2022-06-01  122.044      113.018   7.986338
30 2022-07-01  122.948      113.682   8.150807
31 2022-08-01  123.803      113.899   8.695423
32 2022-09-01  124.571      114.601   8.699750
33 2022-10-01  125.276      115.561   8.406815
34 2022-11-01  125.997      116.884   7.796619
35 2022-12-01  126.478      117.308   7.817029
36 2023-01-01  127.336      118.002   7.910035
37 2023-02-01  128.046      118.981   7.618864
38 2023-03-01  128.389      120.159   6.849258
39 2023-04-01  128.363      120.809   6.252845
40 2023-05-01  128.084      121.022   5.835303
41 2023-06-01  128.214      122.044   5.055554
42 2023-07-01  128.832      122.948   4.785763
43 2023-08-01  129.545      123.803   4.638014
44 2023-09-01  130.120      124.571   4.454488
45 2023-10-01  130.609      125.276   4.257001
46 2023-11-01  131.445      125.997   4.323912
47 2023-12-01  132.373      126.478   4.660890
48 2024-01-01  133.555      127.336   4.883929
49 2024-02-01  133.681      128.046   4.400762
50 2024-03-01  134.065      128.389   4.420939
51 2024-04-01  134.336      128.363   4.653210
52 2024-05-01  134.087      128.084   4.686768
53 2024-06-01  134.594      128.214   4.976056
54 2024-07-01  136.003      128.832   5.566164
55 2024-08-01  136.013      129.545   4.992860
56 2024-09-01  136.080      130.120   4.580387
57 2024-10-01  136.828      130.609   4.761540
58 2024-11-01  137.424      131.445   4.548671
59 2024-12-01  137.949      132.373   4.212339
60 2025-01-01  138.343      133.555   3.585040
61 2025-02-01  138.726      133.681   3.773910

In [12]:
# üìå Convertir las fechas a formato datetime est√°ndar
df_tipo_cambio["date"] = pd.to_datetime(df_tipo_cambio["date"], format="%Y-%m-%d")
df_tasa_interes["date"] = pd.to_datetime(df_tasa_interes["date"], format="%Y-%m-%d")
df_inpc["date"] = pd.to_datetime(df_inpc["date"], format="%Y-%m-%d")

print("‚úÖ Fechas convertidas correctamente")

‚úÖ Fechas convertidas correctamente

In [13]:
# üìå Convertir las fechas a solo "AAAA-MM" (a nivel mensual)
df_tipo_cambio["date"] = df_tipo_cambio["date"].dt.to_period("M")
df_tasa_interes["date"] = df_tasa_interes["date"].dt.to_period("M")
df_inpc["date"] = df_inpc["date"].dt.to_period("M")

print("‚úÖ Fechas convertidas a nivel mensual")

‚úÖ Fechas convertidas a nivel mensual

In [14]:
# üìå Para el tipo de cambio, tomamos el promedio mensual
df_tipo_cambio = df_tipo_cambio.groupby("date").agg({"tipo_de_cambio": "mean"}).reset_index()

print("‚úÖ Tipo de cambio agregado a nivel mensual")

‚úÖ Tipo de cambio agregado a nivel mensual

In [15]:
# üìå Crear un DataFrame con todas las fechas mensuales disponibles
df_base = pd.DataFrame({"date": pd.period_range(start=df_inpc["date"].min(), 
                                                end=df_inpc["date"].max(), 
                                                freq="M")})

print("‚úÖ Fechas base creadas correctamente")

‚úÖ Fechas base creadas correctamente

In [16]:
# üìå Hacer merge con todas las series asegurando alineaci√≥n de fechas
df_final = df_base.merge(df_tasa_interes, on="date", how="left") \
                  .merge(df_inpc[["date", "inflacion"]], on="date", how="left") \
                  .merge(df_tipo_cambio, on="date", how="left")

print("‚úÖ Datos combinados correctamente con fechas alineadas")

‚úÖ Datos combinados correctamente con fechas alineadas

In [17]:
# üìå Verificar si hay valores nulos
print("üîç Valores nulos antes de dropna():")
print(df_final.isna().sum())

# üìå Verificar el rango de fechas final
print("üìÖ Rango de fechas despu√©s del merge:")
print(df_final["date"].min(), "‚û°", df_final["date"].max())

üîç Valores nulos antes de dropna():
date               0
tasa_de_interes    0
inflacion          0
tipo_de_cambio     0
dtype: int64
üìÖ Rango de fechas despu√©s del merge:
2021-01 ‚û° 2025-02

In [18]:
df_final

       date  tasa_de_interes  inflacion  tipo_de_cambio
0   2021-01             4.22   3.535093       19.921475
1   2021-02             4.12   3.759040       20.309732
2   2021-03             4.05   4.666879       20.755450
3   2021-04             4.07   6.084819       20.015285
4   2021-05             4.06   5.893823       19.963129
5   2021-06             4.02   5.878606       20.030068
6   2021-07             4.32   5.805815       19.970109
7   2021-08             4.46   5.592072       20.076136
8   2021-09             4.55   6.000148       20.048690
9   2021-10             4.84   6.239543       20.462557
10  2021-11             5.05   7.374881       20.900425
11  2021-12             5.29   7.355108       20.891843
12  2022-01             5.53   7.070139       20.497771
13  2022-02             5.87   7.279973       20.449521
14  2022-03             6.31   7.453677       20.556209
15  2022-04             6.56   7.682503       20.108805
16  2022-05             6.91   7.652621       20.030527
17  2022-06             7.31   7.986338       20.023736
18  2022-07             7.76   8.150807       20.546724
19  2022-08             8.25   8.695423       20.120930
20  2022-09             8.70   8.699750       20.075024
21  2022-10             8.93   8.406815       19.984543
22  2022-11             9.42   7.796619       19.444915
23  2022-12             9.96   7.817029       19.592962
24  2023-01            10.61   7.910035       18.986336
25  2023-02            10.92   7.618864       18.598568
26  2023-03            11.23   6.849258       18.374905
27  2023-04            11.29   6.252845       18.085494
28  2023-05            11.32   5.835303       17.737300
29  2023-06            11.16   5.055554       17.241205
30  2023-07            11.22   4.785763       16.904938
31  2023-08            11.16   4.638014       16.976643
32  2023-09            11.08   4.454488       17.307690
33  2023-10            11.08   4.257001       18.082332
34  2023-11            10.89   4.323912       17.376695
35  2023-12            11.21   4.660890       17.185989
36  2024-01            11.29   4.883929       17.087318
37  2024-02            11.05   4.400762       17.089775
38  2024-03            11.02   4.420939       16.791789
39  2024-04            10.97   4.653210       16.810441
40  2024-05            10.99   4.686768       16.793564
41  2024-06            10.97   4.976056       18.217370
42  2024-07            10.92   5.566164       18.111691
43  2024-08            10.76   4.992860       19.151482
44  2024-09            10.44   4.580387       19.631630
45  2024-10            10.24   4.761540       19.706182
46  2024-11            10.05   4.548671       20.345490
47  2024-12             9.85   4.212339       20.266055
48  2025-01             9.86   3.585040       20.549018
49  2025-02             9.45   3.773910       20.457137

In [26]:
# üìå Convertir 'date' a string en formato YYYY-MM-DD antes de guardar
df_final["date"] = df_final["date"].astype(str)  # Convierte Period[M] a string
df_final["date"] = pd.to_datetime(df_final["date"]).dt.strftime('%Y-%m-%d')  # Asegura formato correcto

# üìå Guardar el archivo transformado localmente
file_name = "datos_transformados.csv"
df_final.to_csv(file_name, index=False)
print(f"‚úÖ Archivo '{file_name}' guardado localmente.")

# üìå Definir el bucket y carpeta en S3
S3_BUCKET_NAME = "banxico-hw"
S3_FOLDER = "transformed/"

# üìå Configurar el cliente de S3
s3_client = boto3.client("s3")

# üìå Intentar crear la carpeta en S3 (S3 no maneja carpetas, pero se puede simular con un objeto vac√≠o)
try:
    s3_client.put_object(Bucket=S3_BUCKET_NAME, Key=f"{S3_FOLDER}")
    print(f"‚úÖ Carpeta '{S3_FOLDER}' creada exitosamente en S3")
except Exception as e:
    print(f"‚ùå Error al crear la carpeta '{S3_FOLDER}' en S3: {e}")

# üìå Subir el archivo transformado a S3
s3_path = f"{S3_FOLDER}{file_name}"
try:
    s3_client.upload_file(file_name, S3_BUCKET_NAME, s3_path)
    print(f"‚úÖ Archivo '{file_name}' subido exitosamente a S3 en {s3_path}")
except Exception as e:
    print(f"‚ùå Error al subir '{file_name}' a S3: {e}")

‚úÖ Archivo 'datos_transformados.csv' guardado localmente.
‚úÖ Carpeta 'transformed/' creada exitosamente en S3
‚úÖ Archivo 'datos_transformados.csv' subido exitosamente a S3 en transformed/datos_transformados.csv

In [27]:
df_final.dtypes

date                object
tasa_de_interes    float64
inflacion          float64
tipo_de_cambio     float64
dtype: object

---

## ETL INEGI -- WIP

In [ ]:
# Cargar las variables de entorno desde .env
load_dotenv()

# Obtener el token
INEGI_TOKEN = os.getenv("INEGI_TOKEN")

# Verificar que se carg√≥ correctamente
if not INEGI_TOKEN:
    raise ValueError("‚ùå Error: INEGI_TOKEN no encontrado en .env")

print("‚úÖ Token de INEGI cargado correctamente:", INEGI_TOKEN[:10] + "...")

In [ ]:
# ID del INPC Mensual en INEGI
serie_id = "539261"

# Construcci√≥n de la URL
url = f"https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/INDICATOR/{serie_id}/es/0700/true/BISE/2.0/{INEGI_TOKEN}?type=json"

# Hacer la solicitud a la API
response = requests.get(url)

# Verificar la respuesta
if response.status_code == 200:
    data = response.json()
    print("üì° C√≥digo de respuesta:", response.status_code)
    print("üîç Respuesta de la API:")
    print(json.dumps(data, indent=4)[:1000])  # Muestra los primeros 1000 caracteres
else:
    print("‚ùå Error en la solicitud:", response.text)

In [ ]:
import requests
import json
from dotenv import load_dotenv
import os

# Cargar el token desde .env
load_dotenv()
INEGI_TOKEN = os.getenv("INEGI_TOKEN")

# ID del INPC Mensual en INEGI
serie_id = "539261"

# Construcci√≥n de la URL
url = f"https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/INDICATOR/{serie_id}/es/0700/true/BISE/2.0/{INEGI_TOKEN}?type=json"

# Hacer la solicitud a la API
response = requests.get(url)

# Verificar la respuesta
if response.status_code == 200:
    data = response.json()
    series_data = data["Series"][0]["OBSERVATIONS"]
    
    print(f"üìä N√∫mero de datos devueltos por la API: {len(series_data)}")
    print("üì° Primeros datos:")
    print(json.dumps(series_data[:5], indent=4))  # Muestra solo los primeros 5 valores
else:
    print(f"‚ùå Error {response.status_code}: {response.text}")